@import 'mixin';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: 'Noto Sans CJK KR', sans-serif;
}

html {
  font-size: 16px;

  @include media-mobile-only {
    font-size: 14px;
  }

  @include media-desktop-only {
    font-size: 18px;
  }
}

body {
  color: var(--color-text);
  background-color: var(--color-background-body);

  transition-duration: var(--time-long);
}

div#logo {
  display: block;
  background: var(--image-company) no-repeat center;

  width: 100%;
  height: 60px;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}
