progress {
  padding: 0;
  margin: 0;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  display: block;
  border: none;

  height: 8px;
  border: none;

  // Internet Explorer "support"
  color: var(--color-progress);

  &.grow {
    display: block;
    width: 100%;
  }
}

// Non-standard stuff: ah shit, here we go again.
progress::-webkit-progress-bar {
  background-color: var(--color-background-progress);
  margin: 0; padding: 0;
  border: none;
  vertical-align: -0.2em;
}

progress::-webkit-progress-value {
  background-color: var(--color-progress);
  margin: 0; padding: 0;
  border: none;
  vertical-align: -0.2em;
}

progress::-webkit-progress-inner-element {
  margin: 0; padding: 0;
  border: none;
}

progress::-moz-progress-bar {
  background-color: var(--color-progress-bar);
}
