div.textarea_wrapper {
  &.positive {
    textarea {
      &:not(:disabled) {
        border-color: var(--color-positive);
        color: var(--color-positive);
        outline-color: var(--color-positive);
      }

      &:hover, &:active, &:focus {
        color: var(--color-positive);
      }
    }

    p.caption {
      color: var(--color-positive);
    }
  }

  &.warning {
    textarea {
      border-color: var(--color-warning);
      color: var(--color-warning);
      outline-color: var(--color-warning);

      &:hover, &:active, &:focus {
        color: var(--color-warning);
      }
    }

    p.caption {
      color: var(--color-warning);
    }
  }

  &.negative {
    textarea {
      border-color: var(--color-negative);
      color: var(--color-negative);
      outline-color: var(--color-negative);

      &:hover, &:active, &:focus {
        color: var(--color-negative);
      }
    }
    
    p.caption {
      color: var(--color-negative);
    }
  }
  
  p.caption {
    margin-top: .75rem;
  }
}